<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<title>Defacto Faceit Stats</title>
</head>

<body>
	<div id="charts" style="height: 50vh; width: 50%;">
		<!-- canvas with graphs -->
	</div>

	<script>
		const plot_data = {{ plot_data | tojson}}; // get values from Python backend
		const div = document.getElementById('charts'); // get id of main div

		// Loop over each player
		for (x in plot_data)
		{
			// Check if player has any match recorded. If not - skip
			if (plot_data[x]["labels"].length == 0) {continue;}

			const data = {
				labels: plot_data[x]["labels"],
				datasets: [{
					label: x,
					backgroundColor: 'rgb(255, 99, 132)',
					borderColor: 'rgb(255, 99, 132)',
					data: plot_data[x]["data"],
				}]
			};

			const config = {
				type: 'line',
				data: data,
				options: { 
					maintainAspectRatio: false,
					plugins: {
						tooltip: {
							callbacks: {
								label: function(context) {
									return "Elo: " + context.raw
								},
								beforeLabel: function(context) {
									let la = context.dataset.label
									let kd = plot_data[la]["kdRatio"][context.dataIndex];
									let map = plot_data[la]["matchMap"][context.dataIndex];
									let score = plot_data[la]["matchScore"][context.dataIndex];
									
									return `KD: ${kd}\nMap: ${map}\nScore: ${score}`
								},
								labelTextColor: function(context) {
									let la = context.dataset.label
									let ifWin = plot_data[la]["ifWin"][context.dataIndex];
									if (ifWin == "1") {
										return "#00FF00"
									} else if (ifWin == "0") {
										return "#ff0000"
									} else {
										return "#00FFFF"
									}
								}
							}
						}
					}
				}
			};

			// create canvas graph for one player
			var canvas = document.createElement('canvas');
			const myChart = new Chart(
				div.appendChild(canvas),
				config
			);
		}
	</script>
</body>
</html>